<div class="page-content-wrap">                    
    <!-- page content holder -->
    <div class="page-content-holder">
     <div class="row">
       <div class="col-sm-12 col-md-10 col-md-offset-1">
           <!-- message d'ajout -->
           <div class="cart-section container">
                
               <div class="alert alert-success">
                   Item was added to your cart!
               </div>
               
                           </div>    
           <!--end message d'ajout -->
           
           <h2>1 item(s) in Shopping Cart</h2>
           <table class="table table-hover">
               <thead>
                   <tr>
                       <th>Product</th>
                       <th>Quantity</th>
                       <th class="text-center"></th>
                       <th class="text-center">Total</th>
                       <th>&nbsp;</th>
                   </tr>
               </thead>
               <tbody>
                                       <tr>
                       <td class="col-sm-8 col-md-6">
                           <div class="media">
                               <a class="thumbnail pull-left" href="http://localhost/aswakt/public/annonces/298"> <img class="media-object" src="http://localhost/aswakt/public/storage/annonces\September2020\diver.jpg" style="width: 120px; height: 100px;"> </a>
                               <div class="media-body">
                                   <h4 class="media-heading"><a href="http://localhost/aswakt/public/annonces/298">Product name</a></h4>
                                   <h5 class="media-heading"> by <a href="#">Brand name</a></h5>
                                   <span>Status: </span><span class="text-success"><strong>In Stock</strong></span> 
                               </div>
                           </div>
                       </td>
                       <td class="col-sm-1 col-md-1" style="text-align: center">
                           <div>
                               <select class="quantity" data-id="2e29ed85cd8a4fdb1c37194df066042a" data-productquantity="10">
                                                                   <option selected="">
                                       1
                                   </option>
                                                                   <option>
                                       2
                                   </option>
                                                                   <option>
                                       3
                                   </option>
                                                                   <option>
                                       4
                                   </option>
                                                                   <option>
                                       5
                                   </option>
                                                               </select>
                           </div>
                       </td>
                       <td class="col-sm-1 col-md-1 text-center"><strong></strong></td>
                       <td class="col-sm-1 col-md-1 text-center"><strong>2,463 DH</strong></td>
                       <td class="col-sm-1 col-md-1">
                         <form action="http://localhost/aswakt/public/cart/2e29ed85cd8a4fdb1c37194df066042a" method="POST">
                             <input type="hidden" name="_token" value="G9tW8n49Sk8L0Fxi6WFcu05aHQKL5DcloYQefKcD">                              <input type="hidden" name="_method" value="DELETE">                              <button type="submit" class="btn btn-danger">
                                 <span class="glyphicon glyphicon-remove"></span> Remove
                             </button>   
                         </form>  
                         <form action="http://localhost/aswakt/public/cart/switchToSaveForLater/2e29ed85cd8a4fdb1c37194df066042a" method="POST">
                             <input type="hidden" name="_token" value="G9tW8n49Sk8L0Fxi6WFcu05aHQKL5DcloYQefKcD">                              <button type="submit" class="btn btn-success">
                                 <span class="glyphicon glyphicon-tower"></span> save for later
                             </button>   
                         </form>  
                       </td>
                   </tr>
                    
                   <tr>
                                       <td>
                   

                   <h3>Have a code ! </h3>
                   <div class="input-group">
                       <form action="http://localhost/aswakt/public/coupon" method="POST">
                           <input type="hidden" name="_token" value="G9tW8n49Sk8L0Fxi6WFcu05aHQKL5DcloYQefKcD">
                       <div class="input-group-btn">
                           <input type="text" name="coupon_code" id="coupon_code" class="form-control" placeholder="Your code">
                           <button class="btn btn-primary" type="submit">
                               <span class="fa fa-paper-plane"></span>
                           </button>
                       
                       </div></form>
                   </div>

                   </td>
                   <td>  </td>
                   <td>  </td>
                   <td>  </td>
                   <td>  </td>
                    

                   </tr>
                                                           <tr>
                       <td> &nbsp; </td>
                       <td> &nbsp; </td>
                       <td> &nbsp; </td>
                       <td><h5>New Subtotal</h5></td>
                       <td class="text-right"><h5><strong>2,463 DH</strong></h5></td>
                   </tr>
                   <tr>
                       <td> &nbsp; </td>
                       <td> &nbsp; </td>
                       <td> &nbsp; </td>
                       <td><h5>tax (20%)</h5></td>
                       <td class="text-right"><h5><strong>493 DH</strong></h5></td>
                   </tr>
                   <tr>
                       <td> &nbsp; </td>
                       <td> &nbsp; </td>
                       <td> &nbsp; </td>
                       <td><h3>Total</h3></td>
                       <td class="text-right"><h3><strong>2,956 DH</strong></h3></td>
                   </tr>
                   <tr>
                       <td> &nbsp; </td>
                       <td> &nbsp; </td>
                       <td> &nbsp; </td>
                       <td>
                       <a href="http://localhost/aswakt/public" type="button" class="btn btn-default">
                           <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                       </a></td>
                       <td>
                       <a href="http://localhost/aswakt/public/checkout" type="button" class="btn btn-primary">
                           Checkout <span class="glyphicon glyphicon-play"></span>
                       </a></td>
                   </tr>
               </tbody>
           </table>
                   
                   <h2>3 item(s) Saved For Later</h2><table class="table table-hover">
               <thead>
                   <tr>
                       <th>Product</th>
                       <th>Quantity</th>
                       <th class="text-center">
                       </th>
                       <th class="text-center">Total</th>
                       <th>&nbsp;</th>
                   </tr>
               </thead>
               <tbody>
               
               
                                  <tr>
                       <td class="col-sm-8 col-md-6">
                           <div class="media">
                               <a class="thumbnail pull-left" href="http://localhost/aswakt/public/annonces/49"> <img class="media-object" src="http://localhost/aswakt/public/storage/annonces\September2020\emploi.jpg" style="width: 120px; height: 100px;"> </a>
                               <div class="media-body">
                                   <h4 class="media-heading"><a href="http://localhost/aswakt/public/annonces/49">Product name</a></h4>
                                   <h5 class="media-heading"> by <a href="#">Brand name</a></h5>
                                   <span>Status: </span><span class="text-success"><strong>In Stock</strong></span> 
                               </div>
                           </div>
                       </td>
                       <td class="col-sm-1 col-md-1" style="text-align: center">
                         <input type="email" class="form-control" id="exampleInputEmail1" value="3">
                       </td>
                       <td class="col-sm-1 col-md-1 text-center"><strong>2,242.43 DH</strong></td>
                       <td class="col-sm-1 col-md-1">
                         <form action="http://localhost/aswakt/public/saveForLater/f528876ea1423c93e3201a14f2eb48b7" method="POST">
                             <input type="hidden" name="_token" value="G9tW8n49Sk8L0Fxi6WFcu05aHQKL5DcloYQefKcD"> 
                             <input type="hidden" name="_method" value="DELETE">                              <button type="submit" class="btn btn-danger">
                                 <span class="glyphicon glyphicon-remove"></span> Remove
                             </button>   
                         </form>  
                         <form action="http://localhost/aswakt/public/saveForLater/switchToSaveForLater/f528876ea1423c93e3201a14f2eb48b7" method="POST">
                             <input type="hidden" name="_token" value="G9tW8n49Sk8L0Fxi6WFcu05aHQKL5DcloYQefKcD">                              <button type="submit" class="btn btn-success">
                                 <span class="glyphicon glyphicon-tower"></span> Move To Cart
                             </button>   
                         </form>  
                       </td>
                   </tr>
                                  <tr>
                       <td class="col-sm-8 col-md-6">
                           <div class="media">
                               <a class="thumbnail pull-left" href="http://localhost/aswakt/public/annonces/436"> <img class="media-object" src="http://localhost/aswakt/public/storage/annonces\September2020\mariage.jpg" style="width: 120px; height: 100px;"> </a>
                               <div class="media-body">
                                   <h4 class="media-heading"><a href="http://localhost/aswakt/public/annonces/436">Product name</a></h4>
                                   <h5 class="media-heading"> by <a href="#">Brand name</a></h5>
                                   <span>Status: </span><span class="text-success"><strong>In Stock</strong></span> 
                               </div>
                           </div>
                       </td>
                       <td class="col-sm-1 col-md-1" style="text-align: center">
                         <input type="email" class="form-control" id="exampleInputEmail1" value="3">
                       </td>
                       <td class="col-sm-1 col-md-1 text-center"><strong>1,816.79 DH</strong></td>
                       <td class="col-sm-1 col-md-1">
                         <form action="http://localhost/aswakt/public/saveForLater/13578cec5f1bc5398029683992877bbc" method="POST">
                             <input type="hidden" name="_token" value="G9tW8n49Sk8L0Fxi6WFcu05aHQKL5DcloYQefKcD"> 
                             <input type="hidden" name="_method" value="DELETE">                              <button type="submit" class="btn btn-danger">
                                 <span class="glyphicon glyphicon-remove"></span> Remove
                             </button>   
                         </form>  
                         <form action="http://localhost/aswakt/public/saveForLater/switchToSaveForLater/13578cec5f1bc5398029683992877bbc" method="POST">
                             <input type="hidden" name="_token" value="G9tW8n49Sk8L0Fxi6WFcu05aHQKL5DcloYQefKcD">                              <button type="submit" class="btn btn-success">
                                 <span class="glyphicon glyphicon-tower"></span> Move To Cart
                             </button>   
                         </form>  
                       </td>
                   </tr>
                                  <tr>
                       <td class="col-sm-8 col-md-6">
                           <div class="media">
                               <a class="thumbnail pull-left" href="http://localhost/aswakt/public/annonces/275"> <img class="media-object" src="http://localhost/aswakt/public/storage/annonces\September2020\service.jpg" style="width: 120px; height: 100px;"> </a>
                               <div class="media-body">
                                   <h4 class="media-heading"><a href="http://localhost/aswakt/public/annonces/275">Product name</a></h4>
                                   <h5 class="media-heading"> by <a href="#">Brand name</a></h5>
                                   <span>Status: </span><span class="text-success"><strong>In Stock</strong></span> 
                               </div>
                           </div>
                       </td>
                       <td class="col-sm-1 col-md-1" style="text-align: center">
                         <input type="email" class="form-control" id="exampleInputEmail1" value="3">
                       </td>
                       <td class="col-sm-1 col-md-1 text-center"><strong>1,558.89 DH</strong></td>
                       <td class="col-sm-1 col-md-1">
                         <form action="http://localhost/aswakt/public/saveForLater/da1a95b62c1de7521d3d8512557df74e" method="POST">
                             <input type="hidden" name="_token" value="G9tW8n49Sk8L0Fxi6WFcu05aHQKL5DcloYQefKcD"> 
                             <input type="hidden" name="_method" value="DELETE">                              <button type="submit" class="btn btn-danger">
                                 <span class="glyphicon glyphicon-remove"></span> Remove
                             </button>   
                         </form>  
                         <form action="http://localhost/aswakt/public/saveForLater/switchToSaveForLater/da1a95b62c1de7521d3d8512557df74e" method="POST">
                             <input type="hidden" name="_token" value="G9tW8n49Sk8L0Fxi6WFcu05aHQKL5DcloYQefKcD">                              <button type="submit" class="btn btn-success">
                                 <span class="glyphicon glyphicon-tower"></span> Move To Cart
                             </button>   
                         </form>  
                       </td>
                   </tr>
                 
                  
               
               
                   
               </tbody>
       </table>

    


       <div class="container my-4">
        <h2>You might also like...</h2>
        <div class="col-md-10 col-xs-3 col-md-offset-1">
            <div class="carousel-inner" role="listbox"> 
                <div class="carousel-item active"> 
                    <div class="row">
                        <div class="col-md-3" *ngFor="let annonce of annonces|slice:0:count*4">
                        <a [routerLink]="['/annonces/show/', annonce.slug ]" class="card mb-2" style="width: 210px;height: 210px; border: -2px;">
                            <img class="card-img-top" src="{{ annonce.image }}" style="width: 240px;height: 200px"  alt="Card image cap">
                        </a> 
                        </div>  
                    </div>  
                </div>
            </div>
        </div>
       </div> 


      


       </div>
      </div> 
     </div>
    </div>