<div class="page-content">
       
    <div class="row">                        
        <div class="col-md-9">
            <div class="blog-content">
                <img src="{{ tinghir?.image }}" class="img-responsive" style="width:800px;height:350px" />
                <h2 class="text-right">{{ tinghir.titre }}</h2>
                <span class="blog-date">October 28, 2014 / 0 Comments</span>                                    
                <blockquote>{{ tinghir.description }}</blockquote>
            </div>
            <div class="text-column"> 
                <h3>Comments</h3>
            </div>
            <div class="block">
                <ul class="media-list">
                    <li class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-text" src="asset/img/users/user.jpg" alt="Dmitry Ivaniuk" width="64">
                        </a>
                        <div class="media-body">
                            <h6 class="media-heading">Dmitry Ivaniuk</h6>
                            <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.</p>
                            <p class="text-muted">October 24, 2014, 15:20</p>
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img class="media-object img-text" src="asset/img/users/user6.jpg" alt="Darh Vader" width="64">
                                </a>
                                <div class="media-body">
                                <h6 class="media-heading">Darth Vader</h6>
                                <p>What? What did you say? It's not even a language...</p>
                                <p class="text-muted">October 24, 2014, 16:20</p>
                                </div>
                            </div>          
                        </div>                                      
                    </li>
                    <li class="media">
                        <a class="pull-left" href="#">
                            <img class="media-object img-text" src="assets/img/users/user7.jpg" alt="Samuel Leroy Jackson" width="64">
                        </a>
                        <div class="media-body">
                            <h6 class="media-heading">Samuel Leroy Jackson</h6>
                            <p>We happy? Vincent, we happy?</p>
                            <p class="text-muted">October 24, 2014, 14:30</p>
                            <div class="media">
                                <a class="pull-left" href="#">
                                    <img class="media-object img-text" src="assets/img/users/user5.jpg" alt="John Travolta" width="64">
                                </a>
                                <div class="media-body">
                                <h6 class="media-heading">John Travolta</h6>
                                <p>Yeeees we happy!</p>
                                <p class="text-muted">October 24, 2014, 14:32</p>
                                </div>
                            </div>            
                        </div>
                    </li>
                </ul>                                    
            </div>
            <div class="text-column">
                <h3>New Comment</h3>
                <div class="text-column-info">You must be <a href="#">logged in</a> to post a comment.</div>               
            </div>
        </div>
        <div class="col-md-3">
            <div class="text-column this-animate" data-animate="fadeInRight">                                    
                <h4>Categories</h4>
                <div class="list-links">    
                    <a href="#">Cras ut neque metu</a>
                    <a href="#">Vestibulum eu gravida</a>
                    <a href="#">Aliquam aliquam magna</a>
                    <a href="#">Cras ut neque metu</a>
                    <a href="#">Etiam augue orci</a>          
                </div>
            </div>
            <div class="text-column this-animate" data-animate="fadeInRight">                                    
                <h4>Archive</h4>
                <div class="list-links">                             
                    <a href="#">April 2014</a>
                    <a href="#">October 2013</a>
                    <a href="#">March 2013</a>
                    <a href="#">December 2012</a>
                    <a href="#">January 2012</a> 
                    <a href="#">March 2011</a>
                    <a href="#">February 2011</a>
                    <a href="#">January 2011</a>
                    <a href="#">December 2010</a>   
                </div>
            </div>
        </div>
    </div>

</div>   