<div class="page-content">
    <div class="page-content-wrap bg-light">
        <!-- page content holder -->
        <div class="page-content-holder no-padding">

            <div class="row">    
                <div class="col-sm-6"> 
                     
            
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                                aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active" >
                                <img src="{{ annonce?.image }}" class="d-block w-100" style="width:600px;height:400px" alt="image">
                            </div>
                            <div class="carousel-item">
                                <img src="{{ annonce?.image }}" class="d-block w-100" style="width:600px;height:400px" alt="image">
                            </div>
                            <div class="carousel-item">
                                <img src="{{ annonce?.image }}" class="d-block w-100" style="width:600px;height:400px" alt="image">
                            </div>
                        </div>


                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <!--/Slider-->
                <div class="col-sm-6">
                    <div class="product-section-information">
                    <div  >
                        <h2>TITRE : {{ annonce?.title }}</h2>
                        <div class="block-heading-text">
                            Description : {{ annonce?.description }}
                        </div>
                    </div>
                        <div class="product-section-price">PRIX : ${{ annonce?.prix }} </div>
                        <div>8580</div>
                        <p>&nbsp;</p>
                        <div class="fc-row">
                            <span class="fa fa-home"></span>
                            Rue zaytoune N°132 acote de boulangerie salam,<br/> 
                            Hay Tihit Tinghir, CP 45800
                        </div>
                        <p>&nbsp;</p>
                        <div class="fc-row">
                            <span class="fa fa-phone"></span> (+212) {{ annonce?.user.telephone }}
                        </div>
                        <br>
                        <div>
                            
                                <button  class="btn btn-primary" (click)=addtocart(annonce)>Add To Cart</button>
                            
                        </div> 
                    </div>
                </div> 

                


            </div>

            <div class="container my-4">
                <hr class="mb-5"/>
                <h2>You might also like...</h2>
                <div class="col-md-10 col-xs-3 col-md-offset-1">
                    <!--Carousel Wrapper-->
                    <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
                        
                    
                        <!--Indicators--> 
                        <ol class="carousel-indicators">
                            <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
                            <li data-target="#multi-item-example" data-slide-to="1"></li>
                            <li data-target="#multi-item-example" data-slide-to="2"></li>
                        </ol>
                        <!--/.Indicators-->
                    
                        <!--Slides-->
                        <div class="carousel-inner" role="listbox"> 
                    
                            <!--First slide-->
                            <div class="carousel-item active">  
                    
                            <div class="row">
                                <div class="col-md-3" *ngFor="let annonce of annonces|slice:0:count*4">
                                <div class="card mb-2" style="width: 320px;height: 320px; border: -2px;">
                                    <img class="card-img-top" src="{{ annonce.image }}" style="width: 240px;height: 200px"  alt="Card image cap">
                                    <div class="card-body">
                                    <h4 class="card-title">{{ annonce.title }}</h4> 
                                    <p class="card-text">{{ annonce.description.substr(0 ,31) }}...</p> 
                                    <button (click)="mightAnnonces(annonce)" class="btn btn-primary">details</button> 
                                    </div>
                                </div> 
                                </div>  
                            </div>  
                    
                            </div>
                            <!--/.First slide--> 
                        </div>
                        <!--/.Slides-->
                    
                        </div>
                        <!--/.Carousel Wrapper-->

                </div>
            </div> 



     </div>        
   </div>
</div>
 


 