<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default" style="background-color:#DCDCDC">
     <div class="panel-heading" >Login</div>
      <div class="panel-body">
         <div class="col-md-8 col-md-offset-2">

           <form [formGroup]="loginForm" (ngSubmit)="login()"> 
                      
         
   
                         
              <!--email-->
              <div class="form-group" >
                  <label>E-Mail Address <span class="text-hightlight">*</span></label>
                  <input formControlName="email" id="email" type="email" class="form-control" name="email" required autocomplete="email" autofocus>

                      <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.touched) || loginForm.get('email')?.dirty">
                          <div *ngIf="loginForm.get('email')?.getError('required')">this field is required</div>
                          <div *ngIf="loginForm.get('email')?.getError('email')">this field should be email</div>
                      </div>

              </div>
              <!--password-->
              <div class="form-group" >
                  <label>Password <span class="text-hightlight">*</span></label>
                  <input formControlName="password" id="password" type="password" class="form-control" name="password" required autocomplete="current-password">
                      
                          <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched) || loginForm.get('password')?.dirty">
                              <div *ngIf="loginForm.get('password')?.getError('required')">this field is required</div>
                              <div *ngIf="loginForm.get('password')?.getError('minlength')">this field should 6 caractere</div>
                              <div *ngIf="loginForm.get('password')?.getError('maxlength')">this field should 12 caractere</div>
                          </div>
                      
              </div>


              <!--remenber me-->
              <div class="form-group" >
              <div class="form-check">
                  <input class="form-check-input" type="checkbox" name="remember" id="remember">
              <label>Remember Me </label>
              </div>
              </div>
              
              <!--button-->
              <div class="form-group" >
                  <button [disabled]="loginForm.invalid" class="btn btn-primary">Login</button>
                      <a class="btn btn-link" href="#">
                          Forgot Your Password?
                      </a>
      
                  <a href="#">Chechout as a Guest</a>
              </div>
      
              <p style="text-align: center;">OR</p>
      
              <div class="form-group" style="text-align: center;">
                  <a href="#" class="btn btn-lg btn-social btn-facebook">
                  <i class="fa fa-facebook fa-fw"></i> Sign in with Facebook
                  </a>
              </div>

              <div class="form-group" style="text-align: center;">  
                  <a href="#" class="btn btn-lg btn-social btn-google">
                  <i class="fa fa-google fa-fw"></i> Sign in with Google
                  </a>
              </div>
      
              <div class="pull-left">
                  <a class="btn btn-success btn-xl">Cree Compte</a>
              </div>

           </form>
           
         </div>
      </div>
     </div>
    </div>